body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-color: #27292c;
  color: #fff;
  font-family: Inter;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 30px 25px;
  border-radius: 20px;
  background-color: #171717;
}

.header img {
  width: 100px;
}

.header h1 {
  color: #61dbfb;
  font-size: 2.5rem;
  font-weight: 700;
}

.main {
  padding-left: 20px;
}

.main > h1 {
  font-size: 2.1rem;
  font-weight: 800;
}

.main > ul li {
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 15px;
}

.main > ul li::marker {
  color: #61dbfb;
  font-size: 1.8rem;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  background-color: #171717;
  padding: 10px;
  border-radius: 10px;
}
