body {
  margin: 0px;
  font-family: Inter;
}

.main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: #f55a5a;
}

.header > h3 {
  font-weight: 500;
}

.card {
  width: 50%;
  height: 18%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card > .country-img {
  border-radius: 10px;
  width: 25%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content .heading {
  display: flex;
  align-items: center;
  gap: 3%;
}

.card-content .heading .marker-img {
  width: 5%;
  height: 5%;
}

.card-content .heading .map-text {
  color: #b1b1b1;
  text-decoration: underline;
}

.card-content h1,
.card-content h5,
.card-content p {
  margin-bottom: 0px;
}

.card-content h5 {
  margin-top: 0px;
}
