body {
  margin: 0px;
  font-family: Inter;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: #f55a5a;
}

.header > h3 {
  font-weight: 500;
}
