* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Inter;
  background-color: #ffeee4;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 0.5%;
  background-color: #e5e5e5;
  box-shadow: 0 10px 6px -6px rgb(61, 61, 61);
}

.header img {
  width: 100px;
}

.header h1 {
  font-weight: inherit;
  font-size: 200%;
}

main {
  padding-top: 20px;
}

.ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ingredient-form input,
.ingredient-form button {
  box-shadow: 0px 5px 10px 0px #00000080;
  border: none;
  border-radius: 5px;
}

.ingredient-form input {
  padding: 10px 5px;
  width: 40%;
}

.ingredient-form button {
  padding: 10px 30px;
  background-color: #2d2d2d;
  color: #fff;
}

.ingredient-form button:hover {
  background-color: #e5e5e5;
  color: #000000;
}

.main-section {
  padding: 2%;
}

.no-ingredients {
  padding: 2%;
}

.main-section h2 {
  font-size: xx-large;
  word-spacing: 2px;
}

.main-section .ingredient-list {
  margin: 1%;
}

.main-section .ingredient-list li {
  padding: 5px;
  font-size: large;
  font-weight: 500;
  color: #f66b1b;
}

.main-section .get-recipe-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdecb;
  border-radius: 10px;
  gap: 10%;
}

.get-recipe-container h3 {
  font-size: x-large;
}

.get-recipe-container button {
  background-color: #cd7c1a;
  border: none;
  border-radius: 5px;
  padding: 1% 2%;
  font-size: large;
  font-weight: 500;
}
