body {
  margin: 0px;
  font-family: Inter;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5%;
  background-color: #e5e5e5;
  box-shadow: 0 10px 6px -6px rgb(61, 61, 61);
}

.header img {
  width: 5%;
}

.header h1 {
  font-weight: inherit;
  font-size: 200%;
}
